<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOGS_HOME" value="${catalina.home}/logs/base/" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[ %d{${logs.fmt.date}} %-5p ] SGW %c{1}.%M:%L - %m%n
			</Pattern>
		</layout>
	</appender> 

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/base-rmq.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				[ %d{${logs.fmt.date}} %-5p ] SGW %c{1}.%M:%L - %m%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>
				${LOGS_HOME}/archived/base-rmq.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- Send logs to both console and file audit -->
	<logger name="org.springframework" level="DEBUG" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.rmq" level="DEBUG" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	
</configuration>