<div class="row">
    <div class="col-lg-12 col-xlg-6">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">General Buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-success</code> to quickly create a General btn.
                </h6>
                <div class="button-group">
                    <ui-button buttonType="primary" type="button" text="Primary"></ui-button>
                    <ui-button buttonType="secondary" type="button" text="Secondary"></ui-button>
                    <ui-button buttonType="success" type="button" text="Success"></ui-button>
                    <ui-button buttonType="info" type="button" text="Info"></ui-button>
                    <ui-button buttonType="warning" type="button" text="Warning"></ui-button>
                    <ui-button buttonType="danger" type="button" text="Danger"></ui-button>
                </div>
            </div>
        </ui-card>
    </div>
    <div class="col-lg-12 col-xlg-6">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Button with outline</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-outline-success</code> to quickly create a General
                    btn.</h6>
                <div class="button-group">
                    <ui-button buttonType="primary-ol" type="button" text="Primary"></ui-button>
                    <ui-button buttonType="secondary-ol" type="button" text="Secondary"></ui-button>
                    <ui-button buttonType="success-ol" type="button" text="Success"></ui-button>
                    <ui-button buttonType="info-ol" type="button" text="Info"></ui-button>
                    <ui-button buttonType="warning-ol" type="button" text="Warning"></ui-button>
                    <ui-button buttonType="danger-ol" type="button" text="Danger"></ui-button>
                </div>
            </div>
        </ui-card>
    </div>

    <div class="col-lg-12 col-xlg-6">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Rounded Buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-rounded btn-success</code> to quickly create a
                    General btn.</h6>
                <div class="button-group">
                    <ui-button buttonType="primary-rd" type="button" text="Primary"></ui-button>
                    <ui-button buttonType="secondary-rd" type="button" text="Secondary"></ui-button>
                    <ui-button buttonType="success-rd" type="button" text="Success"></ui-button>
                    <ui-button buttonType="info-rd" type="button" text="Info"></ui-button>
                    <ui-button buttonType="warning-rd" type="button" text="Warning"></ui-button>
                    <ui-button buttonType="danger-rd" type="button" text="Danger"></ui-button>
                </div>
            </div>
        </ui-card>
    </div>
    <div class="col-lg-12 col-xlg-6">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Rounded outlined Buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-rounded btn-outline-success</code> to quickly
                    create a General btn.</h6>
                <div class="button-group">
                    <ui-button buttonType="primary-rd-ol" type="button" text="Primary"></ui-button>
                    <ui-button buttonType="secondary-rd-ol" type="button" text="Secondary"></ui-button>
                    <ui-button buttonType="success-rd-ol" type="button" text="Success"></ui-button>
                    <ui-button buttonType="info-rd-ol" type="button" text="Info"></ui-button>
                    <ui-button buttonType="warning-rd-ol" type="button" text="Warning"></ui-button>
                    <ui-button buttonType="danger-rd-ol" type="button" text="Danger"></ui-button>
                </div>
            </div>
        </ui-card>
    </div>

    <div class="col-lg-6">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Button Sizes</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-lg btn-success</code> to quickly create a General
                    btn.</h6>
                <div class="button-group">
                    <ui-button buttonType="primary-lg" type="button" text="Large .btn-lg"></ui-button>
                    <ui-button buttonType="secondary" type="button" text="Normal .btn"></ui-button>
                    <ui-button buttonType="success-sm" type="button" text="Small .btn-sm"></ui-button>
                    <ui-button buttonType="info-xs" type="button" text="Tiny .btn-xs"></ui-button>
                </div>
            </div>
        </ui-card>
    </div>
    <div class="col-lg-6">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Button Sizes with rounded</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-lg btn-rounded btn-success</code> to create a btn.
                </h6>
                <div class="button-group">
                    <ui-button buttonType="primary-lg-rd" type="button" text="Large .btn-lg">Large .btn-lg </ui-button>
                    <ui-button buttonType="secondary-rd" type="button" text="Normal .btn"></ui-button>
                    <ui-button buttonType="success-sm-rd" type="button" text="Small .btn-sm"></ui-button>
                    <ui-button buttonType="info-xs-rd" type="button" text="Tiny .btn-xs"></ui-button>
                </div>
            </div>
        </ui-card>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Block buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-block btn-success</code> to quickly create a
                    General btn.</h6>
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="info-blk" type="button" text="Info"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="success-blk" type="button" text="Success"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="primary-blk" type="button" text="Primary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="danger-blk" type="button" text="Danger"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="secondary-blk" type="button" text="Secondary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="warning-blk" type="button" text="Warning"></ui-button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Rounded Block buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-block btn-success</code> to quickly create a
                    General btn.</h6>
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="info-rd-blk" type="button" text="Info"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="success-rd-blk" type="button" text="Success"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="primary-rd-blk" type="button" text="Primary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="danger-rd-blk" type="button" text="Danger"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="secondary-rd-blk" type="button" text="Secondary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="warning-rd-blk" type="button" text="Warning"></ui-button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Block outline buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-block btn-outline-success</code> to quickly create
                    a General btn.</h6>
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="info-ol-blk" type="button" text="Info"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="success-ol-blk" type="button" text="Success"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="primary-ol-blk" type="button" text="Primary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="danger-ol-blk" type="button" text="Danger"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="secondary-ol-blk" type="button" text="Secondary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="warning-ol-blk" type="button" text="Warning"></ui-button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h4 class="card-title">Rounded outline Block buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-block btn-outline-success</code> to quickly create
                    a General btn.</h6>
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="info-rd-ol-blk" type="button" text="Info"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="success-rd-ol-blk" type="button" text="Success"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="primary-rd-ol-blk" type="button" text="Primary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="danger-rd-ol-blk" type="button" text="Danger"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="secondary-rd-ol-blk" type="button" text="Secondary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="warning-rd-ol-blk" type="button" text="Warning"></ui-button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Large Block buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-block btn-lg btn-success</code> to quickly create
                    a General btn.</h6>
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="info-blk-lg" type="button" text="Info"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="success-blk-lg" type="button" text="Success"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="primary-blk-lg" type="button" text="Primary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="danger-blk-lg" type="button" text="Danger"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="secondary-blk-lg" type="button" text="Secondary"></ui-button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <ui-button buttonType="warning-blk-lg" type="button" text="Warning"></ui-button>
                    </div>
                </div>
            </div>
        </ui-card>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-12">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Button with icon</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-success</code> &
                    <code>i class ="fa fa-heart"</code> to quickly create a General btn.</h6>
                <div class="row button-group">
                    <div class="col-lg-12 col-xlg-6 m-b-30">
                        <ui-button buttonType="primary" type="button" text="Primary" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="secondary" type="button" text="Secondary" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="success" type="button" text="Success" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="info" type="button" text="Info" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="warning" type="button" text="Warning" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="danger" type="button" text="Danger" icon="fa fa-heart"></ui-button>
                    </div>
                    <div class="col-lg-12 col-xlg-6 m-b-30">
                        <ui-button buttonType="primary-wave" type="button" text="Mail" icon="fa fa-envelope-o">
                        </ui-button>
                        <ui-button buttonType="secondary-wave" type="button" text="Check" icon="fa fa-check">
                        </ui-button>
                        <ui-button buttonType="info-wave" type="button" text="Heart" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="warning-wave" type="button" text="Mail" icon="fa fa-envelope-o">
                        </ui-button>
                        <ui-button buttonType="danger-wave" type="button" text="Heart" icon="fa fa-heart"></ui-button>
                    </div>
                    <div class="col-lg-12 col-xlg-6 m-b-30">
                        <ui-button buttonType="primary-rd" type="button" text="Primary" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="secondary-rd" type="button" text="Secondary" icon="fa fa-heart">
                        </ui-button>
                        <ui-button buttonType="success-rd" type="button" text="Success" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="info-rd" type="button" text="Info" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="warning-rd" type="button" text="Warning" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="danger-rd" type="button" text="Danger" icon="fa fa-heart"></ui-button>
                    </div>
                    <div class="col-lg-12 col-xlg-6 m-b-30">
                        <ui-button buttonType="primary-ol" type="button" text="Primary" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="secondary-ol" type="button" text="Secondary" icon="fa fa-heart">
                        </ui-button>
                        <ui-button buttonType="success-ol" type="button" text="Success" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="info-ol" type="button" text="Info" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="warning-ol" type="button" text="Warning" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="danger-ol" type="button" text="Danger" icon="fa fa-heart"></ui-button>
                    </div>
                    <div class="col-lg-12 col-xlg-6 m-b-30">
                        <ui-button buttonType="primary-ol" type="button" text="Mail" icon="fa fa-envelope-o">
                        </ui-button>
                        <ui-button buttonType="secondary-ol" type="button" text="Check" icon="fa fa-check"></ui-button>
                        <ui-button buttonType="info-ol" type="button" text="Heart" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="warning-ol" type="button" text="Mail" icon="fa fa-envelope-o">
                        </ui-button>
                        <ui-button buttonType="danger-ol" type="button" text="Heart" icon="fa fa-heart"></ui-button>
                    </div>
                    <div class="col-lg-12 col-xlg-6 m-b-30">
                        <ui-button buttonType="primary-ol-rd" type="button" text="Primary" icon="fa fa-check">
                        </ui-button>
                        <ui-button buttonType="secondary-ol-rd" type="button" text="Secondary" icon="fa fa-heart">
                        </ui-button>
                        <ui-button buttonType="success-ol-rd" type="button" text="Success" icon="fa fa-check">
                        </ui-button>
                        <ui-button buttonType="info-ol-rd" type="button" text="Info" icon="fa fa-heart"></ui-button>
                        <ui-button buttonType="warning-ol-rd" type="button" text="Warning" icon="fa fa-heart">
                        </ui-button>
                        <ui-button buttonType="danger-ol-rd" type="button" text="Danger" icon="fa fa-heart"></ui-button>
                    </div>
                </div>
            </div>
        </ui-card>
    </div>
</div>
<!-- End row -->

<!-- Row -->
<div class="row">
    <div class="col-lg-6 button-group">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Circle buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-circle btn-success</code> to quickly create a
                    General btn.</h6>
                <ui-button buttonType="secondary-cl" type="button" icon="fa fa-check"></ui-button>
                <ui-button buttonType="primary-cl" type="button" icon="fa fa-list"></ui-button>
                <ui-button buttonType="success-cl" type="button" icon="fa fa-link"></ui-button>
                <ui-button buttonType="info-cl" type="button" icon="fa fa-check"></ui-button>
                <ui-button buttonType="warning-cl" type="button" icon="fa fa-times"></ui-button>
                <ui-button buttonType="danger-cl" type="button" icon="fa fa-heart"></ui-button>
                <br>
                <br>
                <h4 class="card-title">Circle Large buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-circle btn-lg btn-success</code> to quickly create
                    a General btn.</h6>
                <ui-button buttonType="secondary-cl-lg" type="button" icon="fa fa-check"><i class="fa fa-check"></i>
                </ui-button>
                <ui-button buttonType="primary-cl-lg" type="button" icon="fa fa-list"><i class="fa fa-list"></i>
                </ui-button>
                <ui-button buttonType="success-cl-lg" type="button" icon="fa fa-link"><i class="fa fa-link"></i>
                </ui-button>
                <ui-button buttonType="info-cl-lg" type="button" icon="fa fa-check"><i class="fa fa-check"></i>
                </ui-button>
                <ui-button buttonType="warning-cl-lg" type="button" icon="fa fa-times"><i class="fa fa-times"></i>
                </ui-button>
                <ui-button buttonType="danger-cl-lg" type="button" icon="fa fa-heart"><i class="fa fa-heart"></i>
                </ui-button>
                <br>
                <br>
                <h4 class="card-title">Circle xtra Large buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-circle btn-xl btn-success</code> to quickly create
                    a General btn.</h6>
                <ui-button buttonType="secondary-cl-xl" type="button" icon="fa fa-check"></ui-button>
                <ui-button buttonType="primary-cl-xl" type="button" icon="fa fa-list"></ui-button>
                <ui-button buttonType="success-cl-xl" type="button" icon="fa fa-link"></ui-button>
                <ui-button buttonType="info-cl-xl" type="button" icon="fa fa-check"></ui-button>
                <ui-button buttonType="warning-cl-xl" type="button" icon="fa fa-times"></ui-button>
            </div>
        </ui-card>
    </div>
    <div class="col-lg-6 button-group">
        <ui-card>
            <div class="card-body">
                <h4 class="card-title">Social buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-facebook</code> to quickly create a General btn.
                </h6>
                <ui-button buttonType="facebook-wave" type="button" icon="fa fa-facebook"></ui-button>
                <ui-button buttonType="twitter-wave" type="button" icon="fa fa-twitter"></ui-button>
                <ui-button buttonType="googleplus-wave" type="button" icon="fa fa-google-plus"></ui-button>
                <ui-button buttonType="linkedin-wave" type="button" icon="fa fa-linkedin"></ui-button>
                <ui-button buttonType="instagram-wave" type="button" icon="fa fa-instagram"></ui-button>
                <ui-button buttonType="pinterest-wave" type="button" icon="fa fa-pinterest"></ui-button>
                <ui-button buttonType="dribbble-wave" type="button" icon="fa fa-dribbble"></ui-button>
                <ui-button buttonType="youtube-wave" type="button" icon="fa fa-youtube"></ui-button>
                <br>
                <br>
                <h4 class="card-title">With Circle buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-circle btn-success</code> to quickly create a
                    General btn.</h6>
                <ui-button buttonType="facebook-wave-cl" type="button" icon="fa fa-facebook"></ui-button>
                <ui-button buttonType="twitter-wave-cl" type="button" icon="fa fa-twitter"></ui-button>
                <ui-button buttonType="googleplus-wave-cl" type="button" icon="fa fa-google-plus"></ui-button>
                <ui-button buttonType="linkedin-wave-cl" type="button" icon="fa fa-linkedin"></ui-button>
                <ui-button buttonType="instagram-wave-cl" type="button" icon="fa fa-instagram"></ui-button>
                <ui-button buttonType="pinterest-wave-cl" type="button" icon="fa fa-pinterest"></ui-button>
                <ui-button buttonType="dribbble-wave-cl" type="button" icon="fa fa-dribbble"></ui-button>
                <ui-button buttonType="youtube-wave-cl" type="button" icon="fa fa-youtube"></ui-button>
                <br>
                <br>
                <h4 class="card-title">with rounded buttons</h4>
                <h6 class="card-subtitle">Use a classes <code>btn btn-rounded btn-success</code> to quickly create a
                    General btn.</h6>
                <ui-button buttonType="facebook-wave-rd" type="button" icon="fa fa-facebook"></ui-button>
                <ui-button buttonType="twitter-wave-rd" type="button" icon="fa fa-twitter"></ui-button>
                <ui-button buttonType="googleplus-wave-rd" type="button" icon="fa fa-google-plus"></ui-button>
                <ui-button buttonType="linkedin-wave-rd" type="button" icon="fa fa-linkedin"></ui-button>
                <ui-button buttonType="instagram-wave-rd" type="button" icon="fa fa-instagram"></ui-button>
                <ui-button buttonType="pinterest-wave-rd" type="button" icon="fa fa-pinterest"></ui-button>
                <ui-button buttonType="dribbble-wave-rd" type="button" icon="fa fa-dribbble"></ui-button>
                <ui-button buttonType="youtube-wave-rd" type="button" icon="fa fa-youtube"></ui-button>
            </div>
        </ui-card>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <ui-card>
            <div class="row">
                <!-- column -->
                <!-- <div class="col-xlg-6 col-lg-12 m-b-30">
                  <div class="card-body">
                      <h4 class="card-title">Group buttons</h4>
                      <h6 class="card-subtitle">Wrap a series of buttons with <code class="highlighter-rouge">.btn</code> in <code class="highlighter-rouge">.btn-group</code></h6>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <ui-button buttonType="secondary" type="button" text="Left"></ui-button>
                          <ui-button buttonType="secondary" type="button" text="Middle"></ui-button>
                          <ui-button buttonType="secondary" type="button" text="Right"></ui-button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <ui-button buttonType="info" type="button" icon="align-left"></ui-button>
                          <ui-button buttonType="info" type="button" icon="align-justify"></ui-button>
                          <ui-button buttonType="info" type="button" icon="align-right"></ui-button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <ui-button buttonType="success" type="button" icon="backward"></ui-button>
                          <ui-button buttonType="success" type="button" icon="play"></ui-button>
                          <ui-button buttonType="success" type="button" icon="forward"></ui-button>
                      </div>
                  </div>
              </div> -->
                <!-- column -->
                <div class="col-xlg-6 col-lg-12 m-b-30">
                    <div class="card-body">
                        <h4 class="card-title">Button toolbar pagination</h4>
                        <h6 class="card-subtitle">Wrap a series of buttons with <code
                                class="highlighter-rouge">.btn</code> in <code
                                class="highlighter-rouge">.btn-group</code></h6>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <ui-button buttonType="secondary" type="button disabled" text="1"></ui-button>
                                <ui-button buttonType="info" type="button" text="2"></ui-button>
                                <ui-button buttonType="secondary" type="button" text="3"></ui-button>
                                <ui-button buttonType="secondary" type="button" text="4"></ui-button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <ui-button buttonType="secondary" type="button" text="5"></ui-button>
                                <ui-button buttonType="secondary" type="button" text="6"></ui-button>
                                <ui-button buttonType="secondary" type="button" text="7"></ui-button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <ui-button buttonType="secondary" type="button" text="8"></ui-button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <!-- column -->
                <!-- <div class="col-xlg-6 col-lg-12 m-b-30">
                  <div class="card-body">
                      <h4 class="card-title">Group buttons sizing</h4>
                      <h6 class="card-subtitle">Wrap a series of buttons with <code class="highlighter-rouge">.btn</code> in <code class="highlighter-rouge">.btn-group</code></h6>
                      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                          <ui-button buttonType="secondary" type="button" text="Left"></ui-button>
                          <ui-button buttonType="secondary" type="button" text="Middle"></ui-button>
                          <ui-button buttonType="secondary" type="button" text="Right"></ui-button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <ui-button buttonType="info" type="button" icon="align-left"></ui-button>
                          <ui-button buttonType="info" type="button" icon="align-justify"></ui-button>
                          <ui-button buttonType="info" type="button" icon="align-right"></ui-button>
                      </div>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                          <ui-button buttonType="success" type="button" icon="backward"></ui-button>
                          <ui-button buttonType="success" type="button" icon="play"></ui-button>
                          <ui-button buttonType="success" type="button" icon="forward"></ui-button>
                      </div>
                  </div>
              </div> -->
                <!-- column -->
                <!-- column -->
                <div class="col-xlg-6 col-lg-12 m-b-30">
                    <div class="card-body">
                        <h4 class="card-title">Vertical buttons</h4>
                        <h6 class="card-subtitle">creat vertical button with class of <code>.btn-group-vertical</code>
                        </h6>
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <ui-button buttonType="secondary" type="button" text="Button"></ui-button>
                            <ui-button buttonType="secondary" type="button" text="Button"></ui-button>
                            <ui-button buttonType="secondary" type="button" text="Button"></ui-button>
                            <ui-button buttonType="secondary" type="button" text="Button"></ui-button>
                            <ui-button buttonType="secondary" type="button" text="Button"></ui-button>
                            <ui-button buttonType="secondary" type="button" text="Button"></ui-button>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
        </ui-card>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<!-- <div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Checkbox buttons</h4>
              <div class="btn-group btn-group-toggle">
                <label class="btn-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
                </label>
                <label class="btn-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
                </label>
                <label class="btn-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
                </label>
              </div>
              <hr>
              <pre>{{model | json}}</pre>
          </div>
      </div>
  </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Checkbox buttons(Reactive Forms)</h4>
                <form [formGroup]="checkboxGroupForm">
                  <div class="btn-group btn-group-toggle">
                    <label class="btn-primary" ngbButtonLabel>
                      <input type="checkbox" formControlName="left" ngbButton> Left (pre-checked)
                    </label>
                    <label class="btn-primary" ngbButtonLabel>
                      <input type="checkbox" formControlName="middle" ngbButton> Middle
                    </label>
                    <label class="btn-primary" ngbButtonLabel>
                      <input type="checkbox" formControlName="right" ngbButton> Right
                    </label>
                  </div>
                </form>
                <hr>
                <pre>{{checkboxGroupForm.value | json}}</pre>
            </div>
        </div>
    </div> -->

<!-- <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Radio Buttons</h4>
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model1">
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="1"> Left (pre-checked)
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="middle"> Middle
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="false"> Right
                </label>
              </div>
              <hr>
              <pre>{{model1}}</pre>
          </div>
      </div>
  </div> -->

<!-- <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Radio Buttons(Reactive Forms)</h4>
              <form [formGroup]="radioGroupForm">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="1"> Left (pre-checked)
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="middle"> Middle
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="false"> Right
                  </label>
                </div>
              </form>
              <hr>
              <pre>{{radioGroupForm.value['model']}}</pre>
          </div>
      </div>
  </div> -->
<!-- </div> -->
<!-- End Row -->