<bst:widget>
	<bst:widget-body>
		<div class="row">
			<div class="col-7">
				<p>If you have any issues with the system, kindly email us at</p> 
				
				<p><a HREF="mailto:ecovid19@moh.gov.my"><h4>ecovid19@moh.gov.my</h4></a></p>
				
				<p>We will look at it and forward it to our support team for immediate action within the next 24 hours. Thank you</p>
				<br/>
				<p>For enquiry regarding the data entry, kindly email/call to -</p>
	
				<bst:table-light width="100%">
					<thead>
						<tr>
							<th width="40%">Name</th>
							<th width="30%">Email</th>
							<th width="30%">Phone No.</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Dr Wan Noraini Binti Wan Mohamed Noor, National CPRC</td>
							<td><a HREF="drwnoraini@moh.gov.my">drwnoraini@moh.gov.my</a></td>
							<td>03-8883 4119</td>
						</tr>
						<tr>
							<td>Dr Maheshwara Rao a/l Appanan, National CPRC</td>
							<td><a HREF="mahesh@moh.gov.my">mahesh@moh.gov.my</a></td>
							<td>03-8883 4121</td>
						</tr>
					</tbody>
				</bst:table-light>
			</div>
	       	<div class="col-5 text-center">
	       		<div>
					<img alt="" th:src="@{/images/contact.png}" th:attr="onerror='this.src=\'' + @{/webjars/outbreak-webjar/images/contact.png} + '\';'"/>
	       		</div>
			</div>
		</div>
	</bst:widget-body>
</bst:widget>
