<div id="popupTtl" />
<style>
div.ex3 {
    width: 100%;
    height: 510px;
    overflow: auto;
}
</style>

			<bst:widget>
				<bst:widget-body>
					<div class="ex3">
						<p align="center"><b><u>NOTICE UNDER THE PERSONAL DATA PROTECTION ACT 2010</u></b></p>
						
						<p>The Personal Data Protection Act 2010 (hereinafter referred to as the "PDPA"), which regulates the processing of personal data in 
						commercial transactions, applies to Bestinet Sdn Bhd [Job Lottery System is under which entity? ] (hereinafter referred to as "BSB", "our", 
						"us" or "we"). For the purposes of this written notice, the terms "personal data" and "processing" shall have the same meaning as 
						prescribed in the PDPA. </p>
						
						<p>The PDPA requires us to inform you of your rights in respect of your Personal Data that is being processed or that is to be collected 
						and further processed by us and the purposes of the data collection and processing. The PDPA also requires us to obtain your consent to 
						the processing of your Personal Data.</p>
						
						<p>By providing us your Personal Data and/or continuing access to this website ("site"), you declare that you have read and understood 
						this Notice and agree to us processing your Personal Data as set out below.</p>
						
						<p>If you do not agree with this Notice or any amendments to this Notice, we may not be able to render our services to you and you may 
						be required to terminate your account with us and/or stop accessing or using this site.</p>
						
						<p>1. This written notice ("Notice") is issued by us and serves to inform you that your personal data is being processed by or on behalf 
						of BSB.</p>
						
						<p>2. The personal data processed by us may include your name, nationality, passport number, contact number, address, occupation, email 
						address, bank account details and any other details that you have provided or may provide us with in the documents as prescribed in 
						paragraph four (4) of this Notice or which may have been provided to us by any other party as authorized by you as well as all other 
						details relating thereto.</p>
						
						<p>3. We are processing your personal data, including any additional information you may subsequently provide, for the following 
						purposes ("Purposes"): </p>
						
						<p>(a)	to access, process and provide services to you;</p>
						
						<p>(b)	to communicate with you;</p>
						
						<p>(c)	to establish your identity, background for the purposes of providing services to you;</p>
						
						<p>(d)	to respond to your enquiries or complaints and resolve any issues and disputes that may arise in connection with our services;</p>
						
						<p>(e)	to maintain and update internal records and administration purposes;</p>
						
						<p>(f)	 to send invites on promotions and products launch events;</p> 
						
						<p>(g)	for other purposes required to operate, maintain and better manage our business and your relationship with us.</p>
						
						<p>4. Your personal data is and will be collected from you and/or from the information you have provided in the documentation that you 
						have or have authorized to be provided to us, all application/registration forms that you have been asked to complete, together with 
						any other information that we may obtain about you from oral or written communications.</p>
						
						<p>5. In accordance with the PDPA, you have the right to request for access to, to request for a copy of, request to update or correct, 
						your Personal Data held by us. You may contact us with any enquiries or complaints in respect of your personal data as follows:</p>
						 
						<p>Designation of the contact person[There has to be someone in charge of PDPA info for updating/revoking consent purposes. ]:</p>
						<p>Phone number:</p>
						
						<p>Fax number:</p>
						
						<p>E-mail address:</p>
						
						<p>In respect of your right to access and or to correct, we may refuse to comply with your request for access or correction to your 
						personal data for reason permitted under the law and if we refuse to comply with such request, we will inform you of our refusal and 
						reason for our refusal.</p>
						
						<p>You have the right to request us to limit the processing and use of your Personal Data (for example, requesting us to stop sending 
						promotional emails or contacting you for marketing purposes).</p>
						
						<p>6. Your personal data may be disclosed to any BSB offices or branches and/or the subsidiaries or related companies of BSB, all 
						governmental and/or quasi-governmental departments and/or agencies, regulatory and/or statutory bodies, business partners and/or 
						service providers and any other third party that you have requested or authorized us to disclose your personal data to for the above 
						purposes or for any other purposes for which your personal data was to be disclosed at the time of its collection or any other purposes 
						directly related to any of the above Purposes subject at all times to any laws (including regulations, standards, guidelines and/or 
						obligations) applicable to BSB.</p>
						
						<p>7. Your personal data may be transferred to places outside Malaysia.</p>
						 
						<p>8. You are responsible for ensuring that the personal data you provide us is accurate, complete and not misleading and that such 
						personal data is kept up to date.</p>
						
						<p>9. If you fail to supply to us the abovementioned personal data, we may not be able to process your personal data for any of the 
						Purposes and in the case of an application with us; we will not be able to consider your application.</p>
						
						<p>10.  Any of your Personal Data provided to us is retained for as long as the purposes for which the Personal Data is collected 
						continues. Your Personal Data is then destroyed from our records and system in accordance with our retention policy in the event your 
						Personal Data is no longer required for the said purposes.</p>
						
						<p>11.  We are committed to ensuring that your Personal Data is stored securely. In order to prevent unauthorized access, disclosure or 
						similar risks, we endeavor, where practicable, to implement appropriate security measures to safeguard and prevent unlawful 
						or unauthorized disclosure and processing of your Personal Data, and the destruction of, or accidental loss, damage to, alternation to, 
						your Personal Data.</p>
						
						<p>12. This Notice may be updated from time to time to reflect changes and/or developments in data protection laws, regulations, 
						guidelines, codes and industry practices in Malaysia. Revision to this Notice will be published on Jobs Lottery's 
						website. www.jobslottery.com.my [Please provide the correct address]</p>
					</div>
				</bst:widget-body>
			</bst:widget>
