<!-- ============================================================== -->
<!-- Router without header element only -->
<!-- ============================================================== -->
<ui-header portalTitle="Base Web Portal"></ui-header>
<div class="login-register">
    <img alt="" class="login-bg" src="/assets/default/images/login-bg.jpg">
    <div class="login-box m-b-20">
        <div class="login-icon-container">
            <div class="login-icon">
                <img alt="" src="/assets/default/images/logo-icon.png">
            </div>
        </div>
        <router-outlet>
            <ui-spinner></ui-spinner>
        </router-outlet>
    </div>
</div>