<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Basic Tab</h3>
      <h6 class="card-subtitle">This is a basic Tab example</h6>
      <ui-tab-group>
        <ui-tab [tabTitle]="'Simple'" [imagePath]="'/assets/images/icon/credit-card-solid.png'" >
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
            retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
            butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
            Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
            qui.</p>
        </ui-tab>
        <ui-tab [tabTitle]="'Fancy title'">
          Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
          loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
          aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic
          magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
          Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa
          terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
          accusamus tattooed echo park.
        </ui-tab>
        <ui-tab [tabTitle]="'Disabled'" [disabled]='true'>
          <h3>Tab 3 content</h3>
          <form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <!-- Basic select Configuration -->
            <div class="row m-t-10">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Configuration</p>
                <ui-checkbox (change)="onChangeSearchable($event)">Searchable</ui-checkbox>
                <ui-checkbox (change)="onChangeSearchDropdown($event)">Search in Dropdown</ui-checkbox>
                <ui-checkbox (change)="onChangeCloseOnSelect($event)">Close on Select</ui-checkbox>
                <ui-checkbox (change)="onChangeHideSelected($event)">Hide Selected</ui-checkbox>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <pre>{{basicSelect | json}}</pre>
              </div>
            </div>
            <ui-button buttonType="danger" text="Reset" (click)="onReset()"></ui-button>
            <ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"></ui-button>
          </form>
        </ui-tab>
      </ui-tab-group>
    </ui-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Basic Tab code</h3>
      <h6 class="card-subtitle">How to use Urp basic Tab</h6>
      <blockquote>
        <pre>
      <code>
      &lt;ui-tab-group&gt;
        &lt;ui-tab [tabTitle]="'Simple'" [imagePath]="'/assets/images/icon/credit-card-solid.png'"&gt;
        &lt;!-- Tab content --&gt;
        &lt;p&gt;
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, 
          retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit 
          butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. 
          Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        &lt;/p&gt;
        &lt;/ui-tab&gt;
        &lt;ui-tab [tabTitle]="'Fancy title'"&gt;
        &lt;!-- Tab content --&gt;
        &lt;p&gt;
          Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
          loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
          aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic
          magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
          Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa
          terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
          accusamus tattooed echo park.
        &lt;/p&gt;
        &lt;/ui-tab&gt;
        &lt;ui-tab [tabTitle]="'Disabled'" [disabled] = 'true'&gt;
        &lt;!-- Tab content --&gt;
        &lt;/ui-tab&gt;
      &lt;/ui-tab-group&gt;
      </code>
          </pre>
      </blockquote>
    </ui-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card class="nav-pills">
      <h3 class="card-title">Pills </h3>
      <h6 class="card-subtitle">This is a Pills example</h6>
      <ui-tab-group [tabPills]='true'>
        <ui-tab [tabTitle]="'Simple'">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
            retro
            keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
            salvia
            cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ui-tab>
        <ui-tab [tabTitle]="'Fancy title'">
          <form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <label class="required">E-mail Address</label>
            <ui-email formControlName="email" [submitted]="submitted" [required]="true"></ui-email>

            <!-- Basic select component -->
            <ui-select [init]="basicSelect" formControlName="country" (change)="onChangeDropdown($event)"
              [submitted]="f.submitted" [required]="true"></ui-select>

            <ui-button buttonType="danger" text="Reset" (click)="onReset()"></ui-button>
            <ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"></ui-button>
          </form>
        </ui-tab>
        <ui-tab [tabTitle]="'Disabled'" [disabled]='true'>
          <h3>Tab 3 content</h3>
          <form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <!-- Basic select Configuration -->
            <div class="row m-t-10">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Configuration</p>
                <ui-checkbox (change)="onChangeSearchable($event)">Searchable</ui-checkbox>
                <ui-checkbox (change)="onChangeSearchDropdown($event)">Search in Dropdown</ui-checkbox>
                <ui-checkbox (change)="onChangeCloseOnSelect($event)">Close on Select</ui-checkbox>
                <ui-checkbox (change)="onChangeHideSelected($event)">Hide Selected</ui-checkbox>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <pre>{{basicSelect | json}}</pre>
              </div>
            </div>
            <ui-button buttonType="danger" text="Reset" (click)="onReset()"></ui-button>
            <ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"></ui-button>
          </form>
        </ui-tab>
      </ui-tab-group>
    </ui-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Pills code</h3>
      <h6 class="card-subtitle">How to use Urp Pills </h6>
      <blockquote>
        <pre>
        <code>
      &lt;ui-tab-group [tabPills]='true'&gt;
        &lt;ui-tab [tabTitle]="'Simple'"&gt;
        &lt;!-- Tab content --&gt;
        &lt;p&gt;
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, 
          retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit 
          butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. 
          Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        &lt;/p&gt;
        &lt;/ui-tab&gt;
        &lt;ui-tab [tabTitle]="'Fancy title'"&gt;
        &lt;!-- Tab content --&gt;
        
        &lt;form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off"&gt;
          &lt;label class="required"&gt;E-mail Address&lt;/label&gt;
          &lt;ui-email formControlName="email" [submitted]="submitted" [required]="true"&gt;&lt;/ui-email&gt;
          &lt;ui-select [init]="basicSelect" formControlName="country" (change)="onChangeDropdown($event)"
                [submitted]="f.submitted" [required]="true"&gt;&lt;/ui-select&gt;
          &lt;ui-button buttonType="danger" text="Reset" (click)="onReset()">&lt;/ui-button&gt;
          &lt;ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"&gt; &lt;/ui-button&gt;
        &lt;/form&gt;
  
        &lt;/ui-tab&gt;
        &lt;ui-tab [tabTitle]="'Disabled'" [disabled] = 'true'&gt;
        &lt;!-- Tab content --&gt;
        &lt;/ui-tab&gt;
      &lt;/ui-tab-group&gt;
        </code>
          </pre>
      </blockquote>
    </ui-card>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Nav justification</h3>
      <h6 class="card-subtitle">This is Urp Nav justification example</h6>
      <ui-tab-group [tabJustification]="justified">
        <ui-tab [tabTitle]="'Simple'">
          <h3>Tab 1 content</h3>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
            retro
            keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
            salvia
            cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ui-tab>
        <ui-tab [tabTitle]="'Fancy title'">
          <h3>Tab 2 form content</h3>
          <form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <label class="required">E-mail Address</label>
            <ui-email formControlName="email" [submitted]="submitted" [required]="true"></ui-email>

            <!-- Basic select component -->
            <ui-select [init]="basicSelect" formControlName="country" (change)="onChangeDropdown($event)"
              [submitted]="f.submitted" [required]="true"></ui-select>

            <ui-button buttonType="danger" text="Reset" (click)="onReset()"></ui-button>
            <ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"></ui-button>
          </form>
        </ui-tab>
        <ui-tab [tabTitle]="'A very long nav title'">
          <p>
            Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
            facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
            congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
            et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
            faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac
            lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
          </p>
        </ui-tab>
      </ui-tab-group>

      <div class="btn-group btn-group-toggle m-t-20 ng-untouched ng-pristine ng-valid" ngbradiogroup=""
        role="radiogroup">
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="justified === 'start'">
          <input ngbbutton="" type="radio" value="start" name="ngb-radio-0" [(ngModel)]="justified">Start </label>
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="justified === 'center'">
          <input ngbbutton="" type="radio" value="center" name="ngb-radio-0" [(ngModel)]="justified">Center </label>
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="justified === 'end'">
          <input ngbbutton="" type="radio" value="end" name="ngb-radio-0" [(ngModel)]="justified">End </label>
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="justified === 'fill'">
          <input ngbbutton="" type="radio" value="fill" name="ngb-radio-0" [(ngModel)]="justified">Fill </label>
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="justified === 'justified'">
          <input ngbbutton="" type="radio" value="justified" name="ngb-radio-0" [(ngModel)]="justified">Justified
        </label>
      </div>
    </ui-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Nav justification code</h3>
      <h6 class="card-subtitle">How to use Urp Nav justification</h6>
      <blockquote>
        <pre>
  <code>
    &lt;ui-tab-group [tabJustification] = "'justified'"&gt;
      &lt;ui-tab [tabTitle]="'Simple'"&gt;
      &lt;!-- Tab content --&gt;
      &lt;p&gt;
        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, 
        retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit 
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. 
        Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
      &lt;/p&gt;
      &lt;/ui-tab&gt;
      &lt;ui-tab [tabTitle]="'Fancy title'"&gt;
      &lt;!-- Tab content --&gt;
      
      &lt;form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off"&gt;
        &lt;label class="required"&gt;E-mail Address&lt;/label&gt;
        &lt;ui-email formControlName="email" [submitted]="submitted" [required]="true"&gt;&lt;/ui-email&gt;
        &lt;ui-select [init]="basicSelect" formControlName="country" (change)="onChangeDropdown($event)"
              [submitted]="f.submitted" [required]="true"&gt;&lt;/ui-select&gt;
        &lt;ui-button buttonType="danger" text="Reset" (click)="onReset()">&lt;/ui-button&gt;
        &lt;ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"&gt; &lt;/ui-button&gt;
      &lt;/form&gt;
      &lt;ui-tab [tabTitle]="'A very long nav title'"&gt;
      &lt;!-- Tab content --&gt;
      &lt;p&gt;
      Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. 
      Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. 
      Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, 
      egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec 
      tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis 
      dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. 
      Phasellus nec tortor vel tellus pulvinar feugiat.
      &lt;/p&gt;
      &lt;/ui-tab&gt;
    &lt;/ui-tab-group&gt;
    </code>
              </pre>
      </blockquote>

      <h6 class="card-subtitle">Note: The horizontal alignment of the tabs with flexbox utilities.</h6>
      <i>Type: </i> <code>"start" | "center" | "end" | "fill" | "justified"</code>
    </ui-card>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Nav orientation [Vertical]</h3>
      <h6 class="card-subtitle">This is Urp Nav vertical orientation example</h6>
      <ui-tab-group [tabVertical]='orientation'>
        <ui-tab [tabTitle]="'Simple'">
          <h3>Tab 1 content</h3>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
            cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ui-tab>
        <ui-tab [tabTitle]="'Fancy title'">
          <h3>Tab 2 form content</h3>
          <form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <label class="required">E-mail Address</label>
            <ui-email formControlName="email" [submitted]="submitted" [required]="true"></ui-email>

            <!-- Basic select component -->
            <ui-select [init]="basicSelect" formControlName="country" (change)="onChangeDropdown($event)"
              [submitted]="f.submitted" [required]="true"></ui-select>

            <ui-button buttonType="danger" text="Reset" (click)="onReset()"></ui-button>
            <ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"></ui-button>
          </form>
        </ui-tab>
        <ui-tab [tabTitle]="'A very long nav title'">
          <p>
            Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
            facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
            congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
            et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
            faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac
            lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
          </p>
        </ui-tab>
      </ui-tab-group>
      <div class="btn-group btn-group-toggle m-t-20 ng-untouched ng-pristine ng-valid" ngbradiogroup=""
        role="radiogroup">
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="orientation === 'true'">
          <input ngbbutton="" type="radio" value="true" name="ngb-radio-0" [(ngModel)]="orientation">Vertical</label>
        <label class="btn-primary btn-sm btn" ngbbuttonlabel="" [class.active]="orientation === ''">
          <input ngbbutton="" type="radio" value="" name="ngb-radio-0" [(ngModel)]="orientation">Horizontal</label>
      </div>
    </ui-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Nav vertical orientation code</h3>
      <h6 class="card-subtitle">How to use Urp Nav vertical orientation</h6>
      <blockquote>
        <pre>
      <code>
        &lt;ui-tab-group [tabVertical] = 'true'&gt;
        &lt;ui-tab [tabTitle]="'Simple'"&gt;
        &lt;!-- Tab content --&gt;
        &lt;p&gt;
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, 
          retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit 
          butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. 
          Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        &lt;/p&gt;
        &lt;/ui-tab&gt;
        &lt;ui-tab [tabTitle]="'Fancy title'"&gt;
        &lt;!-- Tab content --&gt;
        
        &lt;form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off"&gt;
          &lt;label class="required"&gt;E-mail Address&lt;/label&gt;
          &lt;ui-email formControlName="email" [submitted]="submitted" [required]="true"&gt;&lt;/ui-email&gt;
          &lt;ui-select [init]="basicSelect" formControlName="country" (change)="onChangeDropdown($event)"
                [submitted]="f.submitted" [required]="true"&gt;&lt;/ui-select&gt;
          &lt;ui-button buttonType="danger" text="Reset" (click)="onReset()">&lt;/ui-button&gt;
          &lt;ui-button buttonType="success" type="submit" text="Submit" [disabled]="f.invalid"&gt; &lt;/ui-button&gt;
        &lt;/form&gt;
        &lt;ui-tab [tabTitle]="'A very long nav title'"&gt;
        &lt;!-- Tab content --&gt;
        &lt;p&gt;
        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. 
        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. 
        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, 
        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec 
        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis 
        dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus 
        nec tortor vel tellus pulvinar feugiat.
        &lt;/p&gt;
        &lt;/ui-tab&gt;
        &lt;/ui-tab-group&gt;
        </code>
          </pre>
      </blockquote>

      <h6 class="card-subtitle">Note: By default the Nav horizontal alignment of the tabs with flexbox utilities. If you
        want to change orientation to vertical</h6>
      <code>[tabVertical] = 'true'</code>
    </ui-card>
  </div>
</div>