<form [formGroup]="date_form" (ngSubmit)="onSubmit()">
  <ui-card>
    <h2>Date Picker</h2>
    <ui-tab-group>
      <ui-tab tabTitle="Example">
        <div class="row">
          <div class="col-md-6">
            <label>Select Date</label>
            <ui-date type="datepicker"  formControlName="dob" [maxDate]="maxDate" [minDate]="minDate"
              format='DD/MM/YYYY'>
            </ui-date>
          </div>
          <div class="col-md-6">
            <label>Selected Value</label><br />
            <pre>
              {{ date_form.controls.dob.value }}
            </pre>
          </div>
        </div>
      </ui-tab>
      <ui-tab tabTitle="HTML">
        <pre ng-non-bindable>
            &lt;ui-date <strong>formControlName="variable_name" label='Datepicker' [submitted]="submitted"
              required="true" [maxDate]="maxDate" [minDate]="minDate" format='DD/MM/YYYY'</strong>&gt;&lt;/ui-date&gt;
        </pre>
      </ui-tab>
    </ui-tab-group>
  </ui-card>
  <ui-card>
    <h2>Year Picker</h2>
    <ui-tab-group>
      <ui-tab tabTitle="Example">
        <div class="row">
          <div class="col-md-6">
            <label>Select Year</label>
            <ui-date type="datepicker" formControlName="year" [maxDate]="maxDate" [minDate]="minDate" format='YYYY'
              mode="year">
            </ui-date>
          </div>
          <div class="col-md-6">
            <label>Selected Value</label><br />
            <pre>
              {{ date_form.controls.year.value }}
            </pre>
          </div>
        </div>
      </ui-tab>
      <ui-tab tabTitle="HTML">
        <pre ng-non-bindable>
            &lt;ui-date <strong>format="YYYY" mode="year" formControlName="variable_name" label='Datepicker' [submitted]="submitted"
              required="true"</strong>&gt;&lt;/ui-date&gt;
        </pre>
      </ui-tab>
    </ui-tab-group>
  </ui-card>
  <ui-card>
    <h2>Month Picker</h2>
    <ui-tab-group>
      <ui-tab tabTitle="Example">
        <div class="row">
          <div class="col-md-6">
            <label>Select Month</label>
            <ui-date type="datepicker"  formControlName="month" [maxDate]="maxDate" [minDate]="minDate" format='MM'
              mode="month">
            </ui-date>
          </div>
          <div class="col-md-6">
            <label>Selected Value</label><br />
            <pre>
              {{ date_form.controls.month.value }}
            </pre>
          </div>
        </div>
      </ui-tab>
      <ui-tab tabTitle="HTML">
        <pre ng-non-bindable>
            &lt;ui-date <strong>format='MM/YYYY' mode="month" formControlName="variable_name" label='Datepicker' [submitted]="submitted"
              required="true"</strong>&gt;&lt;/ui-date&gt;
        </pre>
      </ui-tab>
    </ui-tab-group>
  </ui-card>
</form>
<ui-card>
  <h2>Definition & Usage</h2>
  <div class="row">
    <div class="col-12">
      <p>Urp datepicker function base on the configuration</p>
      <ol>Definition of every attribute
        <li>type = type of daterange for example single datepicker or daterangepicker </li>
        <li>formControlName = for variable name </li>
        <li>lable = Datepicker lable name </li>
        <li>submitted = submitted the form </li>
        <li>required = It’s a mandatory field, for example required="true" mandatory if required="false" is not a
          mandatory</li>
        <li>minDate = enabling the minimum select date </li>
        <li>maxDate = enabling the maximum select date </li>
        <li>mode = display the months or years only </li>
        <li>format = formatting the date value </li>
      </ol>
    </div>
  </div>
</ui-card>