<ui-card>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row mb-2">
      <div class="col-sm-12">
        <label class="required" i18n="@@ChgPwd-CurrentPwd">Current Password</label>
        <ui-pass formControlName="currPword" [submitted]="submitted" [required]="true"></ui-pass>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-12">
        <label class="required" i18n="@@ChgPwd-NewPwd">New Password</label>
        <ui-pass formControlName="newPword" [submitted]="submitted" [required]="true"
          (keydown)="clearError('newPword')"></ui-pass>
        <div *ngIf="submitted" id="show_hide_password">
          <div class="password_error_custom" *ngIf="isPassError">{{passErrorMessage}}</div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-12">
        <label class="required" i18n="@@ChgPwd-ConfirmPwd">Confirm New Password</label>
        <ui-pass formControlName="repNewPword" [submitted]="submitted" [required]="true" autocomplete="off"></ui-pass>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary" i18n="@@Button-Submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</ui-card>