<div class="row"> 
			<div class="col-md-12">
				<bst:widget>
					<bst:widget-header>
						<h4 class="m-b-0 text-white">Alert</h4>
					</bst:widget-header>
					<bst:widget-body>
						<h6 class="card-title green">Basic Alert</h6>
						<bst:alert-success id="success-alert">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>Success!</strong>
							Your message has been sent successfully
						</bst:alert-success>
						<bst:alert-danger id="success-alert">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>Danger!</strong>
							Your message has been sent successfully.
						</bst:alert-danger>
						<bst:alert-warn id="success-alert">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>Warning!</strong>
							Your message has been sent successfully.
						</bst:alert-warn>
						<bst:alert id="success-alert">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>Default!</strong>
							Your message has been sent successfully.
						</bst:alert>
						<br/>
			         <div id="accordion2" class="accordion" role="tablist"
			            aria-multiselectable="true">
			            <div class="card">
			               <div class="card-header" role="tab" id="headingFour">
			                  <h5 class="mb-0">
			                     <a data-toggle="collapse" data-parent="#accordion4"
			                        href="#collapse4" aria-expanded="true"
			                        aria-controls="collapseFour"> Example</a>
			                  </h5>
			               </div>
			               <div id="collapse4" class="collapse show" role="tabpanel"
			                  aria-labelledby="headingFour">
			                  <div class="card-body">
			                     <p class="text-success" th:text="#{'&lt;!--/* Alert Success */--&gt;'}" ></p>
			                     <th:block th:text="#{'&lt;bst:alert-success id=\'success-alert\' /&gt;'}" /><br/><br/>
			                     <p class="text-success" th:text="#{'&lt;!--/* Alert Danger */--&gt;'}" ></p>
			                     <th:block th:text="#{'&lt;bst:alert-danger id=\'success-alert\' /&gt;'}" /><br/><br/>
			                     <p class="text-success" th:text="#{'&lt;!--/* Alert Warn */--&gt;'}" ></p>
			                     <th:block th:text="#{'&lt;bst:alert-warn id=\'success-alert\' /&gt;'}" /><br/><br/>
			                     <p class="text-success" th:text="#{'&lt;!--/* Alert */--&gt;'}" ></p>
			                     <th:block th:text="#{'&lt;bst:alert id=\'success-alert\' /&gt;'}" /><br/><br/>
			                  </div>
			               </div>
			            </div>
			            <div class="card">
			               <div class="card-header" role="tab" id="headingFive">
			                  <h5 class="mb-0">
			                     <a class="collapsed" data-toggle="collapse"
			                        data-parent="#accordion2" href="#collapse5"
			                        aria-expanded="false"
			                        aria-controls="collapseFive"> Definition and
			                        Usage </a>
			                  </h5>
			               </div>
			               <div id="collapse5" class="collapse" role="tabpanel"
			                  aria-labelledby="headingFive">
			                  <div class="card-body">
			                     <p>The <th:block th:text="#{'&lt;bst:alert&gt;'}" /> Alerts are created with the .alert class, followed by one of the four contextual classes .alert-success, .alert-info, .alert-warning or .alert-danger.</p>
			                  </div>
			               </div>
			            </div>
			            <div class="card">
			               <div class="card-header" role="tab" id="headingSix">
			                  <h5 class="mb-0">
			                     <a class="collapsed" data-toggle="collapse"
			                        data-parent="#accordion2" href="#collapse6"
			                        aria-expanded="false"
			                        aria-controls="collapseSix"> Attributes </a>
			                  </h5>
			               </div>
			               <div id="collapse6" class="collapse" role="tabpanel"
			                  aria-labelledby="headingSix">
			                  <div class="card-body">
			                     <bst:table-light style="font-size: 12px;">
			                        <thead>
			                           <tr>
			                              <th>Attribute</th>
			                              <th>Value</th>
			                              <th>Description</th>
			                           </tr>
			                        </thead>
			                        <tbody>
			                           <tr>
			                              <td>placeholder</td>
			                              <td>#docMgtId</td>
			                              <td>Specifies the docMgtId generated
			                                 in DM Service</td>
			                           </tr>
			                        </tbody>
			                     </bst:table-light>
			                  </div>
			               </div>
			            </div>
			         </div>
					</bst:widget-body>
				</bst:widget>
			</div>
		</div>