<div class="row">
			<div class="col-md-12">
				<bst:widget>
					<bst:widget-header>
						<h4 class="m-b-0 text-white"> Notifications</h4>
					</bst:widget-header>
					<!-- start cardbody  -->
					<bst:widget-body>
						 <div class="row">
		                    <div class="col-12">
		                        <bst:widget>
		                            <bst:widget-body>
		                                <h4 class="card-title">Simple Toastr Alerts</h4>
		                                <h6 class="card-subtitle">You can use four different alert <code>info, warning, success, and error</code> message.</h6>
		                                <div class="button-box">
		                                    <bst:btn-info class="tst1">Info Message</bst:btn-info>
		                                    <bst:btn-warn class="tst2">Warning Message</bst:btn-warn>
		                                    <bst:btn-success class="tst3">Success Message</bst:btn-success>
		                                    <bst:btn-danger class="tst4">Danger Message</bst:btn-danger>
		                                </div>
		                            </bst:widget-body>
		                        </bst:widget>
		                    </div>
		                </div>
		                <div class="row">
		                	 <div class="col-12">
		                	 	<bst:widget>
		                	 		<bst:widget-body>
		                	 			<div class="row">
						                    <div class="col-12">
						                        <bst:widget>
						                            <bst:widget-body>
						                                <div class="row">
						                                    <!-- Column -->
						                                    <div class="col-lg-12">
						                                        <h4 class="card-title">Alert with different color</h4>
						                                        <h6 class="card-subtitle">use the class <code>alert alert-*colors*</code> for dezier</h6>
						                                        <bst:alert-success>This is an example top alert. You can edit what u wish. </bst:alert-success>
						                                        <bst:alert-danger>This is an example top alert. You can edit what u wish. </bst:alert-danger>
						                                        <bst:alert-warn>This is an example top alert. You can edit what u wish. </bst:alert-warn>
						                                        <bst:alert-info>This is an example top alert. You can edit what u wish. </bst:alert-info>
						                                    </div>
						                                </div>
						                                    <div class="row">
						                                    <!-- Column -->
						                                    <div class="col-lg-12">
						                                        <h4 class="card-title">Dissmissal Alert</h4>
						                                        <h6 class="card-subtitle">add the button with <code>close</code> class</h6>
						                                        <bst:alert-success> <i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
						                                        </bst:alert-success>
						                                        <bst:alert-danger> <i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
						                                        </bst:alert-danger>
						                                        <bst:alert-warn> <i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
						                                        </bst:alert-warn>
						                                        <bst:alert-info> <i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
						                                        </bst:alert-info>
						                                    </div>
						                                </div>
						                                    <div class="row">
						                                    <div class="col-lg-12">
						                                        <h4 class="card-title">Alert with image / icon </h4>
						                                        <h6 class="card-subtitle">add the image / icon before content </h6>
						                                        <bst:alert-success>
						                                        	<i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						                                            	<span aria-hidden="true">&times;</span> 
						                                            </button>
						                                        </bst:alert-success>
						                                        <bst:alert-danger> 
						                                        	<img th:src="@{'/webjars/monster-ui/images/users/1.jpg'}" width="30" class="img-circle" alt="img"/> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
																		<span aria-hidden="true">&times;</span> 
																	</button>
						                                        </bst:alert-danger>
						                                        <bst:alert-warn> 
						                                        	<img th:src="@{'/webjars/monster-ui/images/users/1.jpg'}" width="30" class="img-circle" alt="img"/> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
						                                            	<span aria-hidden="true">&times;</span> 
						                                            </button>
						                                        </bst:alert-warn>
						                                        <bst:alert-info> 
						                                        	<i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
						                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						                                            	<span aria-hidden="true">&times;</span>
						                                            </button>
						                                        </bst:alert-info>
						                                    </div>
						                                </div>
						                            </bst:widget-body>
						                        </bst:widget>
						                    </div>
						                </div>
		                	 		</bst:widget-body>
		                	 	</bst:widget>
		                	 </div>
		                </div>
		                <div class="row">
		                    <div class="col-12">
		                        <bst:widget>
		                            <bst:widget-body>
		                                <div class="row">
		                                    <!-- Column -->
		                                    <div class="col-lg-12">
		                						<h4 class="card-title">Alert with rounded corner </h4>
                                        		<h6 class="card-subtitle">add the <code>alert-rounded</code> class to the alert </h6>
		                						<bst:alert-success-rd> <i class="ti-user" aria-hidden="true"></i> This is an example top alert. You can edit what u wish.
		                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
		                                        </bst:alert-success-rd>
		                                        <bst:alert-danger-rd> <img th:src="@{'/webjars/monster-ui/images/users/1.jpg'}" width="30" class="img-circle" alt="img"/> This is an example top alert. You can edit what u wish.
		                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
		                                        </bst:alert-danger-rd>
		                                        <bst:alert-warn-rd> <img th:src="@{'/webjars/monster-ui/images/users/1.jpg'}" width="30" class="img-circle" alt="img"/> This is an example top alert. You can edit what u wish.
		                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
		                                        </bst:alert-warn-rd>
		                                        <bst:alert-info-rd>This is an example top alert. You can edit what u wish.
                                       		 	</bst:alert-info-rd>
		                					<div class="col-lg-12">
		                					<h4 class="card-title">Alert with content </h4>
		                                        <h6 class="card-subtitle">Alerts can also contain additional HTML elements </h6>
		                                        <bst:alert-success>
		                                        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            		<h3 class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Success</h3> This is an example top alert. You can edit what u wish. Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
		                						</bst:alert-success>
		                						<bst:alert-info>
                                            		<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
		                                            <h3 class="text-info"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Information</h3> This is an example top alert. You can edit what u wish. Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
		                                        </bst:alert-info>
		                                        <bst:alert-warn>
		                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
		                                            <h3 class="text-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Warning</h3> This is an example top alert. You can edit what u wish. Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
		                                        </bst:alert-warn>
		                					</div>
		               						</div>
		               					</div>
		               				</bst:widget-body>
		              			</bst:widget>
		               		</div>
		               </div> 
					</bst:widget-body>
				</bst:widget>
			</div>
		</div>