<div class="row">
			<div class="col-md-12">
				<bst:widget>
					<bst:widget-header>
						<h4 class="m-b-0 text-white">User Cards</h4>
					</bst:widget-header>
					<bst:widget-body>
						<div class="row el-element-overlay">
							<div class="col-md-12">
								<h4 class="card-title"> Scroll up effect</h4>
							</div>
							<div class="col-lg-3 col-md-6">
								<bst:widget>
									<div class="el-card-item">
										<div class="el-card-avatar el-overlay-1">
											<img th:src="@{'/webjars/monster-ui/images/users/1.jpg'}" alt="user" />
											<div class="el-overlay scrl-up">
												<ul class="el-info">
													<li><a class="btn default btn-outline image-popup-vertical-fit" href=""><i class="ti-search" aria-hidden="true"></i></a></li>
													<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="ti-link" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="el-card-content">
											<h3 class="box-title">Genelia Deshmukh</h3>
											<small>Managing Director</small> <br />
										</div>
									</div>
								</bst:widget>
							</div>
							<div class="col-lg-3 col-md-6">
								<bst:widget>
									<div class="el-card-item">
										<div class="el-card-avatar el-overlay-1">
											<img th:src="@{'/webjars/monster-ui/images/users/2.jpg'}" alt="user" />
											<div class="el-overlay scrl-up">
												<ul class="el-info">
													<li>
														<a class="btn default btn-outline image-popup-vertical-fit" th:href="@{/plugins/images/users/2.jpg}">
															<i class="ti-search" aria-hidden="true"></i>
														</a>
													</li>
													<li>
														<a class="btn default btn-outline" href="javascript:void(0);">
															<i class="ti-link" aria-hidden="true"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="el-card-content">
											<h3 class="box-title">Genelia Deshmukh</h3>
											<small>Managing Director</small> <br />
										</div>
									</div>
								</bst:widget>
							</div>
							<div class="col-lg-3 col-md-6">
								<bst:widget>
									<div class="el-card-item">
										<div class="el-card-avatar el-overlay-1">
											<img th:src="@{'/webjars/monster-ui/images/users/1.jpg'}" alt="user" />
											<div class="el-overlay scrl-up">
												<ul class="el-info">
													<li>
														<a class="btn default btn-outline image-popup-vertical-fit" th:href="@{/plugins/images/users/1.jpg}">
															<i class="ti-search" aria-hidden="true"></i>
														</a>
													</li>
													<li>
														<a class="btn default btn-outline" href="javascript:void(0);"><i class="ti-link" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="el-card-content">
											<h3 class="box-title">Genelia Deshmukh</h3>
											<small>Managing Director</small> <br />
										</div>
									</div>
								</bst:widget>
							</div>
							<div class="col-lg-3 col-md-6">
								<bst:widget>
									<div class="el-card-item">
										<div class="el-card-avatar el-overlay-1">
											<img th:src="@{'/webjars/monster-ui/images/users/4.jpg'}" alt="user" />
											<div class="el-overlay scrl-up">
												<ul class="el-info">
													<li>
														<a class="btn default btn-outline image-popup-vertical-fit" th:href="@{/plugins/images/users/2.jpg}">
															<i class="ti-search" aria-hidden="true"></i>
														</a>
													</li>
													<li>
														<a class="btn default btn-outline" href="javascript:void(0);"><i class="ti-link" aria-hidden="true"></i></a>
													</li>
												</ul>
											</div>
										</div>
										<div class="el-card-content">
											<h3 class="box-title">Genelia Deshmukh</h3>
											<small>Managing Director</small> <br />
										</div>
									</div>
								</bst:widget>
							</div>
						</div>
					</bst:widget-body>
				</bst:widget>
			</div>
		</div>