<form th:action="@{#{url.pword.change}}" th:object="${changePassword}" th:method="POST"  autocomplete="off">
	<bst:widget>
		<bst:widget-header>
			<h6 th:text="${#authentication.principal.profile.status} == F ? #{lbl.login.frst} : (${#authentication.principal.profile.status} != 0 ? #{lbl.pword.chng})" />
		</bst:widget-header>
		<bst:widget-body>
			    <div class="row">
					<div class="col-sm-12">
						<label class="required" th:text="#{lbl.pword.curr}" />
				        <bst:input-password offset="3" th:field="*{currPword}" maxlength="20"  />
				        <p class="errors" th:if="${#fields.hasErrors('currPword')}" th:errors="*{currPword}" />
					</div>
			    </div>
			    <div class="row">
					<div class="col-sm-12">
						<label class="required" th:text="#{lbl.pword.new}" />
			        	<bst:input-password  offset="3"  th:field="*{newPword}" maxlength="20" />				        	
			        	<p class="errors" th:if="${#fields.hasErrors('newPword')}" th:errors="*{newPword}" />
			    	</div>
			    </div>
			    <div class="row">
					<div class="col-sm-12">
						<label class="required" th:text="#{lbl.pword.new.1}" />
			        	<bst:input-password offset="3" th:field="*{repNewPword}" maxlength="20"  />				        	
			        	<p class="errors" th:if="${#fields.hasErrors('repNewPword')}" th:errors="*{repNewPword}" />
			    	</div>
			    </div>
		</bst:widget-body>
		<bst:widget-footer>
		    <div class="row">
				<div class="col-12 text-right">
		       		<bst:btn-primary th:text="#{btn.cmn.sub}" />
		       	</div>
		    </div>
		</bst:widget-footer>
	</bst:widget>
</form>
