<div id="login-bg"></div>
<div class="wrapper">
	<div id="content">
		<div class="login-bg"></div>
        <div class="col-md-12 col-lg-12 login-register" > 
        	<img alt="" th:src="@{/images/bg-covid.png}" class="bg-co" th:attr="onerror='this.src=\'' + @{/webjars/outbreak-webjar/images/bg-covid.png} + '\';'"/>
         		      
			<div class="" style="margin-top: 50px">
				<th:block th:replace="fragments/portal-fragments :: career-info" />
				
				<div class="login-box card">
            		<div class="card-body">
	             		<div class="text-center">
	            	 		<img alt="" th:src="@{/images/logo-covid-color.png}" class="logo-login text-center" th:attr="onerror='this.src=\'' + @{/webjars/outbreak-webjar/images/logo-covid-color.png} + '\';'"></img>
	             		</div>
	                    <h3 class="box-title m-b-20 text-center" th:text="#{lbl.cmn.pword.rst}"></h3>
	                    <bst:form th:action="@{#{url.pword.forgot}}"
								th:object="${forgotPassword}" method="POST" autocomplete="off"
								class="animated fadeIn">
							<label class="" th:text="#{lbl.cmn.usrnm}" />
							<div class="controls">
								<div class="input-with-icon  right">
									<i class=""></i>
									<bst:input th:field="*{userName}" maxlength="20" autofocus="autofocus" onkeyup="javascript:this.value=this.value.toLowerCase();" />
									<label class="errors" th:if="${#fields.hasErrors('userName')}"
										th:errors="*{userName}"></label>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-12">
									<bst:btn-primary type="button" 
										th:onclick="|window.location.href='@{#{url.login}}'|" class="btn btn-info text-uppercase waves-effect waves-light mb-3">
										<th:block th:text="#{lbl.bck.lgn}" />
									</bst:btn-primary>
									<bst:btn-primary th:type="submit" class="pull-right btn btn-info text-uppercase waves-effect waves-light mb-3">
										<th:block th:text="#{lbl.cmn.pword.rst}" />
									</bst:btn-primary>
								</div>
							</div>
						</bst:form>
					</div>
          		</div>
			</div>
		</div>
	</div>
</div>