<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Spinner component</h3>
      <h6 class="card-subtitle">This is a basic Spinner component example</h6>
      <div class="form-group">
        <ui-button buttonType="primary" text="Loading" (click)="show()"></ui-button>
      </div>
      <p>
        Using Spinner component need to create variable on Controller by default value 'false' after (click) function value will change 'true'.
      </p>
      <ui-master-spinner-overlay [isShow]=val></ui-master-spinner-overlay>
    </ui-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <ui-card>
      <h3 class="card-title">Spinner component code</h3>
      <h6 class="card-subtitle">How to use Spinner component</h6>
      <blockquote>
        <pre>
        <code>
        &lt;ui-master-spinner-overlay [isShow]= value &gt; &lt;/ui-master-spinner-overlay&gt;
      </code>
            </pre>
      </blockquote>
    </ui-card>
  </div>

</div>