<ui-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off" class="col-12 ">
    <div class="row">
      <!-- Profile Picture -->
      <div class="col-sm-2 col-md-3">
        <ng-container formArrayName="fileUploads" *ngFor="let refDoc of refDocLst; let i = index">
          <ui-file *ngIf="refDoc" [formControl]="fileUploads.controls[i]" [refDoc]="refDoc" [init]="{type:'thumbnail'}">
          </ui-file>
        </ng-container>
      </div>
      <!-- Profile Information -->
      <div class="col-sm-10 col-md-9">
        <div class="row">
          <!-- User ID -->
          <div class="col-md-6">
            <label i18n="@@User-UserId">User ID</label>
            <ui-text formControlName="userId"></ui-text>
          </div>
          <!-- Status -->
          <div class="col-md-6">
            <label>Status</label>
            <h3 class="form-group" [ngSwitch]="f.status.value">
              <span *ngSwitchCase="'A'" class="badge badge-success">{{f.statusDesc.value}}</span>
              <span *ngSwitchCase="'I'" class="badge badge-danger">{{f.statusDesc.value}}</span>
              <span *ngSwitchCase="'F'" class="badge badge-warning">{{f.statusDesc.value}}</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <!-- Full Name -->
          <div class="col-md-6">
            <label class="required" i18n="@@User-FullName">First Name</label>
            <ui-text formControlName="firstName" formatToUpperCase maxlength="255" label="First Name" [reset]="reset"
              [submitted]="submitted"></ui-text>
          </div>
          <!-- Last Name -->
          <div class="col-md-6">
            <label i18n="@@User-FullName">Last Name</label>
            <ui-text formControlName="lastName" formatToUpperCase maxlength="255" label="Last Name" [reset]="reset"
              [submitted]="submitted"></ui-text>
          </div>
        </div>
        <div class="row">
          <!-- National ID / Passport -->
          <div class="col-md-6">
            <label class="required" i18n="@@User-FullName">National ID / Passport</label>
            <ui-text formControlName="nationalId" formatToUpperCase maxlength="255" label="National ID / Passport"
              [reset]="reset" [submitted]="submitted"></ui-text>
          </div>
          <!-- Gender -->
          <div class="col-md-6">
            <label class="required" i18n="@@User-Gender">Gender</label>
            <ui-gender formControlName="gender" [reset]="reset" [submitted]="submitted"></ui-gender>
          </div>
        </div>
        <div class="row">
          <!-- Date of Birth -->
          <div class="col-md-6">
            <label class="required" i18n="@@User-DOB">Date of Birth</label>
            <ui-date formControlName="dob" label='Date of Birth' [reset]="reset" [submitted]="submitted"
              [maxDate]="maxDate" [minDate]="minDate" format='DD/MM/YYYY'></ui-date>
          </div>
          <!-- Email -->
          <div class="col-md-6">
            <label class="required" i18n="@@User-EmailAddress">E-mail Address</label>
            <ui-email formControlName="email" [reset]="reset" [submitted]="submitted"></ui-email>
          </div>
        </div>
        <div class="row">
          <!-- Mobile Number -->
          <div class="col-md-6">
            <label class="required" i18n="@@User-MobileNo">Mobile Number</label>
            <ui-mobile formControlName="phone" [reset]="reset" [submitted]="submitted" selectedCountryISO="sa">
            </ui-mobile>
          </div>
          <!-- Position -->
          <div class="col-md-6">
            <label i18n="@@User-FullName">Position</label>
            <ui-text formControlName="position" formatToUpperCase maxlength="255" label="Position" [reset]="reset"
              [submitted]="submitted"></ui-text>
          </div>
        </div>
        <div class="row">
          <!-- User Group -->
          <div class="col-md-6 " *ngIf="!profilePage">
            <label class="required" i18n="@@User-UserGroup">User Group</label>
            <ui-select label="User Group" [init]="selUserRoleGroupInit" formControlName="userGroup" [reset]="reset"
              [submitted]="submitted" (change)="onChangeUserRoleGroup($event)" (blur)="onChangeUserRoleGroup($event)"
              (removed)="test($event)">
            </ui-select>
          </div>
          <!-- User Group - Country -->
          <div class="col-md-6 " *ngIf="!profilePage && showCountrySel">
            <label class="required">Country</label>
            <ui-select label="Country" [init]="selUserRoleGroupCntryInit" formControlName="userGroupCntry"
              [reset]="reset" [submitted]="submitted" (change)="onChangeUserRoleCntry($event)">
            </ui-select>
          </div>
        </div>
        <div class="row">
          <!-- User Group - Branch -->
          <div class="col-md-6 " *ngIf="!profilePage && showBranchSel">
            <label class="required">Branch</label>
            <ui-select label="Branch" [init]="selUserRoleGroupBrnchInit" formControlName="userGroupBrnch"
              [reset]="reset" [submitted]="submitted">
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="profilePage">
      <div class="col-12">
        <ui-title>Authorization Option</ui-title>        
        <ui-radio-group [formControl]="f.authOption" inline='true'>
          <ui-radio inline='true' value="otp"
            [ngClass]="{ 'is-invalid': (f.authOption.touched || submitted) && f.authOption.errors }" [disabled]="disabled">
            OTP
            <div>On selection of OTP authorization, you confirm to use OTP as preferred method to authorize the submission of any application. You will receive OTP code through your registered email.</div>
          </ui-radio>
          <ui-radio inline='true' value="saa"
            [ngClass]="{ 'is-invalid': (f.authOption.touched || submitted) && f.authOption.errors }" [disabled]="disabled">
            Secure Approval Authorization
            <div>On selection of Secure Approval authorization, you confirm to use mobile secure approval as preferred method to authorize the submission of any application. You are required to download URP mobile application in order to use secure approval.</div>
          </ui-radio>
        </ui-radio-group>        
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <div class="pull-right">
          <ui-button buttonType="secondary" icon="fa fa-window-close-o" text="Cancel" i18n-text="@@Button-Cancel"
            *ngIf="!profilePage && (status=='A' || status=='F')" routerLink="/auth/users"></ui-button>
          <ui-button buttonType="danger" *ngIf="(status=='A' ||status=='F')" icon="fa fa-refresh" text="Reset"
            i18n-text="@@Button-Reset" (click)="onReset()"></ui-button>
          <ui-button buttonType="warning" icon="fa fa-unlock" *ngIf="!profilePage && status=='A'" text="Reset Password"
            i18n-text="@@Button-ResetPwd" (click)="userAction('reset')"></ui-button>
          <ui-button buttonType="warning" icon="fa fa-send" name="resent" text="Resend Credential"
            i18n-text="@@Button-ResendCredential" (click)="userAction(status)" *ngIf="!profilePage && status=='F'">
          </ui-button>
          <ui-button buttonType="secondary" icon="fa fa-angle-left" name="Back" text="Back" routerLink="/auth/users"
            *ngIf="!profilePage && status=='I'"></ui-button>
          <ui-button buttonType="success" icon="fa fa-check-circle-o" name="activate" text="Activate"
            i18n-text="@@Button-Activate" (click)="userAction(status)" *ngIf="!profilePage && status=='I'"></ui-button>
          <ui-button buttonType="danger" icon="fa fa-times-circle-o" name="deactivate" text="Deactivate"
            i18n-text="@@Button-Deactivate" (click)="userAction(status)" *ngIf="!profilePage && status=='A'">
          </ui-button>
          <ui-button buttonType="success" *ngIf="(status=='A' ||status=='F')" icon="fa fa-floppy-o" type="submit"
            i18n-text="@@Button-Update" text="Update">
          </ui-button>
        </div>
      </div>
    </div>
  </form>
</ui-card>