<div class="card-body">
	<h1 i18n="@@FgtPwd-ResetPwd">Reset Password</h1>
	<div class="box">
		<div class="card-body text-center">
			<p class="font-weight-bold" i18n="@@FgtPwd-EnterEmailAddress">Enter the username associated with your account.</p>
			<p i18n="@@FgtPwd-EmailLink">We will email you a link to reset your password</p>
			<div class="controls">
				<div class="input-with-icon  right">
					<input type="text" placeholder="Enter your username" i18n-placeholder="@@FgtPwd-EnterEmail" class="form-control" autocomplete="off"
						[formControl]="userName"
						[ngClass]="{ 'is-invalid': (userName.errors && userName.errors.required) && submitted }" />
					<div *ngIf="(userName.errors && userName.errors.required) && submitted" class="invalid-feedback" i18n="@@FgtPwd-UsernameRequired">Username is required</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<button
						style="background: #ED8B49; color: #fff;font-weight: 600;border:1px solid #ED8B49;width:100%;"
						class="btn btn-warning mr-3" (click)="onSubmit()" i18n="@@FgtPwd-ResetPwd">Reset Password</button>
				</div>
			</div>
			<div class="row mt-3 mt-3">
				<div class="col-12">
					<span href="#" class="ml-auto">
						<a routerLink="/login" i18n="@@FgtPwd-BackLogin">Back to Login</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>