<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:tiles="http://www.thymeleaf.org">
	<head lang="en" >
      <th:block th:include="templates/commons/main-head" />
      <title tiles:string="title"><th:block th:text="#{app.portal.name}"/>&nbsp;</title>
   	</head>
    <body th:with="systemType=#{system.type}" th:classappend="${#strings.toLowerCase(systemType)}">
   		<th:block th:include="templates/commons/main-header" />
   		<th:block th:include="templates/commons/main-menu" />
   		<section  id="shrink-content"> 
            <div class="page-wrapper">
                <div class="container-fluid">
                    <th:block th:include="commons/breadcrumbs" />
                    <bst:alert-error th:if="${systemDown}">
                        <th:block th:utext="#{msg.err.svc.avai(${systemDownErrCd})}" />
                    </bst:alert-error>
                    <th:block tiles:include="content" />
               </div>
            </div>
   		</section>
    </body>
    <th:block th:include="templates/commons/main-footer" /> 
    <th:block th:include="templates/commons/main-foot" />
    <th:block th:include="templates/commons/modal-popup" />
</html>