<div layout:fragment="content">
     <div id="content-home">
     <div id="search_criteria">     		
     		<legend th:text="#{lbl.tsk.dtls}"></legend>
     		<fieldset th:object="${task}">   			
     		<table id="fld_container">
                <tbody>													
							<tr>
								<td width="39%" th:text="#{lbl.refno}"></td>
								<td width="2%">:</td>
								<td th:text="*{appRefNo}"></td>
							</tr>							
							<tr>
								<td th:text="#{lbl.usr.appcant.id}"></td>
								<td>:</td>
								<td th:text="*{applicantId}"></td>
							</tr>							
							<tr>
								<td th:text="#{lbl.usr.appcant.name}"></td>
								<td>:</td>
								<td th:text="*{applicant}"></td>
							</tr>							
							<tr>
								<td th:text="#{lbl.app.date}"></td>
								<td>:</td>
								<td th:text="*{#dates.format(appDate, 'dd/MM/yyyy')}"></td>
							</tr>	
							<tr>
								<td th:text="#{lbl.mod.id}"></td>
								<td>:</td>
								<td th:text="*{refType.moduleId}"></td>							
							</tr>	
												<tr>
								<td th:text="#{lbl.trans.id}"></td>
								<td>:</td>
								<td th:text="*{refType.tranId}"></td>								
							</tr>
							<tr>
								<td th:text="#{lbl.type.id}"></td>
								<td>:</td>								
								<td th:text="*{refType.description}"></td>
							</tr>			
							<tr>
								<td th:text="#{lbl.app.status.id}"></td>
								<td>:</td>
								<td><input th:type="text"  th:field="*{appStatus}" /> </td>								
							</tr>	
				</tbody>
            </table>
		</fieldset>	
		</div>
		
		<div id="data_table">
			<table id="tbl_data">		
					<tr>
						<th colspan="8" th:text="#{lbl.hists}"></th>
					</tr>		
				<tr>
				    <!-- <th th:text="#{lbl.hist.id}" width="15%"></th> -->
				    <th>Officer ID</th>
				    <th style="text-align:center;">Time</th>
				    <th>Remarks</th>									
					<th th:text="#{Application Status}"></th>
					<th th:text="#{Workflow Level}"></th>
					<th th:text="#{Workflow Status}"></th>					>
				</tr>
				<tr th:each="history : ${task.taskHistoryList}">
					<!-- <td th:text="${history.histId}"></td> -->
					<td style="text-align:left;"  th:text="${history.submitBy}"></td>
					<td style="text-align:center;" th:text="${#dates.format(history.createDt, 'dd/MM/yyyy hh:mm a')}"></td>
					<td style="text-align:left;"  th:text="${history.remark}"></td>					
					<td th:text="${history.appStatus}"></td>
					<td th:text="${history.refLevel.description}"></td>
					<td th:text="${history.refStatus.statusDesc}"></td>
				</tr>
				<tr>
						<th colspan="8"><div th:if="${msg}"><p th:text="*{msg}"></p></div></th>
				</tr>				
			</table>
			<form th:action="@{/task/task-history-list}" method="post" th:object="${dataObj}">
				<div style="width:100%;text-align:center;">
					<input class="btnClose" th:type="submit" name="cancel" th:value="#{btn.cmn.bck}"/>
				</div>
			</form>
		</div>
	</div>
</div>