.cal-day-add {
    margin-top: 18px;
    margin-left: 10px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    color: green;
  }
  