<bst:widget>
	<bst:widget-header>
		<h4 class="font-widget" th:text="#{'Patient Information'}" />
	</bst:widget-header>
	<bst:widget-body>
		<div class="row form-row">
			<!--/* Reg No */-->
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label th:text="#{lbl.movement.app.id}" /></strong> <label
					th:text="${patient.patientRefNo}" />
			</div>
			<!--/* Reg Date */-->
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label th:text="#{lbl.patient.test.result.regDate}" /></strong>
				<label th:text="${#dates.format(patient.createDt, 'dd/MM/yyyy')}" />
			</div>
		</div>
		<div class="row form-row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label th:text="#{lbl.patient.test.result.name}" /></strong>
				<label th:text="${patient.firstNm}" />
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label
					th:text="#{lbl.patient.test.result.identtyNo} + ' '" /></strong> <label
					th:text="${patient.nationalId}" />
			</div>
		</div>
		<div class="row form-row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label
					th:text="#{lbl.patient.test.result.nationlty}" /></strong> <label
					th:text="${patient.ntnltyCd}" />
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label th:text="#{lbl.patient.test.result.gender}" /></strong>
				<label th:text="${patient.gender}" />
			</div>
		</div>
		<div class="row form-row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<strong><label th:text="#{lbl.patient.test.result.pkd}" /></strong>
				<label th:text="${patient.clinicDesc}" />
			</div>
		</div>
	</bst:widget-body>
</bst:widget>