<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<meta content="" name="description" />
  	<meta content="" name="author" />
	
	<link rel="shortcut icon" href="#" th:href="@{/webjars/joblottery-webjar/images/favicon.ico}" />	

	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/pace/pace-theme-flash.css}" media="screen" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/bootstrap-tag/bootstrap-tagsinput.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/dropzone/css/dropzone.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/bootstrap-datepicker/css/datepicker.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/ios-switch/ios7-switch.css}" media="screen" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/bootstrap-select2/select2.css}" media="screen" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/boostrap-clockpicker/bootstrap-clockpicker.min.css}" media="screen" />

	<!--/* CORE CSS FRAMEWORK  */-->
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/boostrapv3/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/boostrapv3/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/font-awesome/css/font-awesome.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/scripts/plugins/jquery-scrollbar/jquery.scrollbar.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/styles/css/animate.min.css}" />
	
	<!--/* CSS TEMPLATE  */-->
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/styles/css/style.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/styles/css/responsive.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/styles/css/custom-icon-set.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/styles/css/magic_space.css}" />
	
	<title tiles:string="title">JLS</title>
</head>