<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<meta content="" name="description" />
  	<meta content="" name="author" />
	
	<link rel="shortcut icon" href="#" th:href="@{/webjars/chamaeleo-webjar/images/favicon.ico}" />	

	<!--/* CORE CSS FRAMEWORK  */-->
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/font-awesome/css/font-awesome.min.css}" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600" />
	
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/lightbox2/src/css/lightbox.css}" />
	
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/scripts/bootstrap-daterangepicker/css/daterangepicker.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/scripts/bootstrap-timepicker/css/bootstrap-timepicker.min.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/scripts/bootstrap-fileupload/bootstrap-fileupload.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/scripts/jquery.intl-tel/css/intlTelInput.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/select2/dist/css/select2.min.css}" />
	
	<!--/* CSS TEMPLATE  */-->
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/styles/styles.min.css}" /> 
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/styles/fontastic.min.css}" />
	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/webjars/chamaeleo-webjar/styles/dataTables.css}" />

	<link rel="stylesheet" type="text/css" href="#" th:href="${@webHelper.baseUrl()}+@{/styles/styles.css}" />
	
	<title tiles:string="title">JLS - Job Seeker Portal</title>
</head>